@page
@model ErrorModel
@{
    ViewData["Title"] = "Error";
}

<rhx-callout rhx-variant="danger" rhx-title="An error occurred while processing your request.">
    @if (Model.ShowRequestId)
    {
        <p><strong>Request ID:</strong> <code>@Model.RequestId</code></p>
    }
</rhx-callout>
